body{
    background-color: antiquewhite;
}

body div div{
    margin: 0;
    padding: 7px;
    
}

.login{
    /* box-shadow: 2px  2px 0px  0px ; */
    color: rgb(8, 8, 8);
    /* width: 47px; */
    border-radius: 5px;
}

.signin {
    text-decoration: none;
    color: rgb(66, 46, 247);

}
#nextpage a:hover{
    color: darkblue;
}

