<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMI</title>
    <link rel="stylesheet" href="..\public\emi.css">
</head>

<body>
    <div class="wrap">
        <div class="outer-left">
            <div class="inner">
    <h1 style="margin-top:10%;">Investometer</h1>
    <hr>
    <h2>EMI calculator</h2>
    <div class="Wrapper">
        <div class="Input">
          <input name="loan" type="number" id="loan" class="Input-text" placeholder="Loan amount">
          <label for="loan" class="Input-label">Loan amount</label>
        </div>
      </div>
      <div class="Wrapper">
        <div class="Input">
          <input name="rof" type="number" id="rof" class="Input-text" placeholder="Interest Rate">
          <label for="rof" class="Input-label">Interest Rate</label>
        </div>
      </div>
      <div class="Wrapper">
        <div class="Input" style="margin-bottom: 5%;">
          <input name="poy" type="number" id="poy" class="Input-text" placeholder="Tenure in months">
          <label for="poy" class="Input-label">Tenure in months</label>
        </div>
      </div>
    <div>
        <button class="calc" onclick="calculate()">Calculate</button><br>        
    </div>    
    <p id="result"></p>
    </div>
    </div>
    <div class="outer-right"></div>
    </div>  
</body>

<script>    
    function calculate() {
        var principal = document.getElementById("loan").value;
        var R = document.getElementById("rof").value;
        var N = document.getElementById("poy").value;
        R=R/12/100;
        
        var permonth=(principal* R * (Math.pow((1+R),N ))/ (Math.pow((1+R),N-1)));
        var result = "EMI per Month = " + permonth;
        document.getElementById("result").innerHTML = result;
        
    }
</script>

</html>
