<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investometer</title>
    <link rel="stylesheet" href="investometer.css">
</head>
<body>
    <h1>
        Investometer
        <br>
    </h1>

    <button onclick="/si">Hello</button>

    {{!-- <form action="/si" method="get">
        <div >
            <input type="submit" class="si" name="SI" value="Simple Intrest">
        </div>
    </form>
    <form action="/cd" method="get">
        <div>
            <input type="submit" class="rd" name="Rd" value="Reccuring Deposit">
        </div>
    </form>
    <form action="/emi" method="get">
        <div>
            <input type="submit" class="emi" name="emi" value="Emi Calculater">
        </div>
    </form>
    <!-- <form action="/investometer" method="post">
        <div>
            <input type="submit" class="si" name="SI" value="Simple Intrest">
        </div>
    </form> --> --}}

</body>
<script src="investometer.js"></script>
</html>
